#content{
    display: grid;
    grid-template: 1fr/ 1fr 5fr;
}

.projectDiv{
    border: black 1px solid;
    cursor: pointer;
}

.todoDiv{
    display: flex;
    flex-direction: row;
}


.projectH1{
    padding: 21px 0px 21px 0px;
}

.projectP{
    padding: 16px 0px 16px 0px;

}

.projectH1,.projectP{
    margin: 0;
}

.deleteProjectButton{
    width: 100%;
}

